/* #Site Styles
================================================== */
body {
  color: #f5f5f5;
  font-size: 14px;
  line-height: 18px;
  background: url('../img/background-seamless.jpg');
  background-repeat: repeat-x repeat-y;
  font-family: 'Open Sans', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
iframe {
  min-width: 940px;
  height: 529px;
  clear: both;
  margin: 40px 0 0 0;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
h1,
h2,
h3,
h4,
h5,
iframe,
span {
  color: #cccccc;
}
h1 {
  font-size: 30px;
  color: #f5f5f5;
  line-height: 30px;
  font-family: charcoalregular;
  font-weight: normal;
  border-bottom: 2px solid #f5f5f5;
  text-transform: uppercase;
}
.content {
  clear: both;
  height: auto;
  margin: 30px auto;
}
.content img {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.readmore a {
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
}
a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: normal;
  background: #a32a35;
  padding: 0 4px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
a:visited {
  color: #f5f5f5;
  background: #a32a35;
}
a:hover {
  color: #f5f5f5;
  background: none;
}
.wrapper {
  clear: both;
  height: auto;
  overflow: auto;
  margin: 0 auto;
}
.divider {
  height: 2px;
  background-image: url('../img/dividerbefore.jpg');
  background-repeat: repeat-x;
  background-size: contain;
  max-width: 940px;
}
.divider.after {
  margin-bottom: 30px;
}
.divider.both {
  margin: 30px 0;
}
.divider.mobile {
  display: none;
}
.social {
  padding: 15px 0 40px 0;
}
.social > div {
  padding-top: 15px;
}
.social .tweets {
  background-image: url('../img/paint-tweets.png');
  background-repeat: no-repeat;
  background-position: 0 -10px;
}
.social .follow {
  background-image: url('../img/paint-follow.png');
  background-repeat: no-repeat;
  background-position: 150px -10px;
  padding-bottom: 40px;
}
.social .follow a {
  padding: 0;
}
.round {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 40px;
  line-height: 80px;
  cursor: pointer;
  color: #f5f5f5;
  position: relative;
  float: left;
  margin-right: 15px;
  opacity: 0.6;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.round i {
  margin-left: 22px;
}
.round i.icon-facebook {
  margin-left: 30px;
}
.round.blue {
  background-color: #3e4878;
}
.round.pink {
  background-color: #833a70;
}
.round.red {
  background-color: #a32a35;
}
.round:hover {
  opacity: 1;
}
.site-header {
  z-index: 999;
  font-family: charcoalregular;
  font-size: 18px;
  text-transform: uppercase;
}
.site-header.mobile {
  display: none;
  background: #000;
  margin-bottom: 20px;
  height: 40px;
  color: #f5f5f5;
  overflow: hidden;
}
.site-header.desktop .nav {
  overflow: hidden;
  width: 100%;
  clear: both;
  text-align: center;
  margin-bottom: 0;
  float: left;
  position: absolute;
  margin-top: -50px;
}
.site-header.desktop .nav li {
  padding: 10px;
  float: left;
  margin-bottom: 0;
}
.site-header.desktop .nav li a {
  background: none;
}
.site-header.desktop .nav li a:hover {
  background: #833a70;
  color: #f5f5f5;
}
.site-header.desktop .nav li .selected {
  border-bottom: 2px solid #f5f5f5;
}
.site-header i {
  font-size: 24px;
  margin-top: 10px;
  color: #f5f5f5;
}
.site-header .brand {
  margin-top: 10px;
  text-align: center;
}
.site-header.cover {
  text-align: center;
}
.content-media {
  margin-bottom: 20px;
}
/* #Page Styles
================================================== */
.gallery ul li {
  float: left;
  position: relative;
  margin-right: 25px;
}
.gallery ul li img {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
/* #Table Styles
================================================== */
td {
  border-bottom: 1px solid #999;
}
td {
  padding: 10px;
}
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  iframe {
    min-width: 748px;
    height: 421px;
  }
  .social .follow {
    background-position: 70px -10px;
    padding-bottom: 40px;
  }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .site-header.mobile {
    display: block;
  }
  .site-header.desktop {
    display: none;
  }
  .header-image {
    display: none;
  }
  .divider.desktop {
    display: none;
  }
  .content {
    padding: 10px 30px;
    margin: 20px 0 20px -30px;
  }
  .content img {
    margin-bottom: 20px;
  }
  .divider.mobile {
    display: block;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  iframe {
    min-width: 420px;
    height: 236px;
  }
  .social .follow {
    background-position: 0px -10px;
    padding-bottom: 40px;
  }
  .divider {
    max-width: 420px;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  iframe {
    min-width: 300px;
    height: 170px;
  }
  .social .follow {
    background-position: -40px -10px;
    padding-bottom: 40px;
  }
  .content {
    padding: 10px 10px;
    margin-left: -10px;
    margin-top: -32px;
  }
  .content img {
    margin-top: 20px;
  }
}
/* #Font-Face
================================================== */
@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'charcoalregular';
  src: url('../font/charcoal-webfont.eot');
  src: url('../font/charcoal-webfont.eot?#iefix') format('embedded-opentype'), url('../font/charcoal-webfont.woff') format('woff'), url('../font/charcoal-webfont.ttf') format('truetype'), url('../font/charcoal-webfont.svg#charcoalregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
