@blueColor: #3e4878;
@pinkColor: #833a70;
@redColor: #a32a35;
@fontColor: #f5f5f5;
@headercolor: #ccc;

/* #Site Styles
================================================== */

body {
  color: @fontColor;
  font-size: 14px;
  line-height: 18px;
  background: url('../img/background-seamless.jpg') ;
  background-repeat:  repeat-x repeat-y;
  font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
  min-width: 940px;
  height: 529px;
  clear: both;
  margin: 40px 0 0 0;
  .drop-shadow(0,10px, 20px, 0.3);
}

h1, h2, h3, h4, h5, iframe, span {
  color: @headercolor;
}

h1 {
  font-size: 30px;
  color: @fontColor;
  line-height: 30px;
  font-family: charcoalregular;
  font-weight: normal;
  border-bottom: 2px solid @fontColor;
  text-transform: uppercase;
}

.content {
  clear: both;
  height: auto;
  margin: 30px auto;

  img {
    .drop-shadow(0,10px, 20px, 0.3);
  }
}

.readmore a{
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
}

a {
  background: @redColor;
  color: @fontColor;
  text-decoration: none;
  padding: 0 4px;

  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;

  &:visited {
    color: @fontColor;
    background: @redColor;
  }

  &:hover {
    color: @fontColor;
    background: none;
  }

}



.wrapper {
    clear: both;
    height: auto;
    overflow: auto;
    margin: 0 auto;
}

.divider {
  height: 2px;
  background-image:url('../img/dividerbefore.jpg');
  background-repeat: repeat-x;
  background-size: contain;
  max-width: 940px;
  
  &.after {
    margin-bottom: 30px;
  }

  &.both {
    margin: 30px 0;
  }

  &.mobile {
    display: none;
  }
}

.social {
  padding: 15px 0 40px 0;

  >div {
    padding-top: 15px;
  }

  .tweets {
    background-image: url('../img/paint-tweets.png');
    background-repeat:no-repeat;
    background-position: 0 -10px;
  }

  .follow {
    background-image: url('../img/paint-follow.png');
    background-repeat:no-repeat;
    background-position: 150px -10px;
    padding-bottom: 40px;

    a {
      padding: 0;
    }
  }

}

.round {
  width: 80px;
  height: 80px;
  .rounded(100%);
  font-size: 40px;
  line-height: 80px;
  cursor: pointer;
  color: @fontColor;
  position: relative;
  float: left;
  margin-right: 15px;
  opacity: 0.6;

  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;


  i {
    margin-left: 22px;

    &.icon-facebook {
      margin-left: 30px;
    }
  }

  &.blue {
    background-color: @blueColor;
  }

  &.pink {
    background-color: @pinkColor;
  }

  &.red {
    background-color: @redColor;
  }

  &:hover {
    opacity: 1;
  }
}

.nav.mobile {
  display: none;

  .mobilemenu {
    li {
      font-size: 32px;
      line-height: 44px;
    }
  }
}

.site-header {
  z-index: 999;
  font-family: charcoalregular;
  font-size: 18px;
  text-transform: uppercase;


    &.mobile {
      display: none;
      background: #000;
      margin-bottom: 20px;
      height: 40px;
      color: @fontColor;
      overflow: hidden;

      span {
        color: @fontColor;
      }
    }

      

    &.desktop {

      .nav {
        overflow: hidden;
        width: 100%;
        clear: both;
        text-align: center;
        margin-bottom: 0;
        float: left;
        position: absolute;
        margin-top: -50px;

        li {
          padding: 10px;
          float: left;
          margin-bottom: 0;

          a {
            background: none;
          }

          a:hover {
            background: @pinkColor;
            color: @fontColor;
          }

          .selected {
            border-bottom: 2px solid @fontColor;
          }
        }
      }
    }

    i {
      font-size: 24px;
      margin-top: 10px;
      color: @fontColor;
    }

    .brand {
      margin-top: 10px;
      text-align: center;
    }

    &.cover {
      text-align: center;
    }
}

.content-media {
    margin-bottom: 20px;
}


/* #Page Styles
================================================== */

// Gallery

.gallery {
  ul {
    li {
      float: left;
      position: relative;
      margin-right: 25px;

      img {
        .drop-shadow(0,10px, 20px, 0.1);
      }

      a {
        background: none;
        border: 0;
        padding: 0;
      }
    }
  }
}

#lbCenter {
  a {
    background: none;
    border: 0;
    padding: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
}

/* #Table Styles
================================================== */

td {
  border-bottom: 1px solid #999;
  padding: 10px;
}



/* #Media Queries
================================================== */

    /* Smaller than standard 960 (devices and browsers) */
    @media only screen and (max-width: 959px) {

    }

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      iframe {
          min-width: 748px;
          height: 421px;
      }
      .social {
        .follow {
          background-position: 70px -10px;
          padding-bottom: 40px;
        }
      }
    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {

      .site-header.mobile {
        display: block;
      }

      .site-header.desktop {
        display: none;
      }

      .header-image {
        display: none;
      }

      .divider.desktop {
        display: none;
      }

      .content {
        img {
          margin-bottom: 20px;
        }
        padding: 10px 30px;
        margin: 30px 0 20px -30px;
      }

      .divider {

        &.mobile {
          display: block;
        }
      }

      .nav.mobile {
        display: block;
      }

    }

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      iframe {
          min-width: 420px;
          height: 236px;
      }
      .social {
        .follow {
          background-position: 0px -10px;
          padding-bottom: 40px;
        }
      }

      .divider {
        max-width: 420px
      }
    }

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {
      iframe {
          min-width: 300px;
          height: 170px;
      }

      .social {
        .follow {
          background-position: -40px -10px;
          padding-bottom: 40px;
        }
      }

      .content {
        padding: 10px 10px;
        margin-left: -10px;

      }
    }


/* #Font-Face
================================================== */

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
     url('../font/fontawesome-webfont.woff') format('woff'),
     url('../font/fontawesome-webfont.ttf') format('truetype'),
     url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'charcoalregular';
    src: url('../font/charcoal-webfont.eot');
    src: url('../font/charcoal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/charcoal-webfont.woff') format('woff'),
         url('../font/charcoal-webfont.ttf') format('truetype'),
         url('../font/charcoal-webfont.svg#charcoalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
}
.bw-gradient(@color: #F5F5F5, @start: 0, @stop: 255) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, rgb(@start,@start,@start)),
                               color-stop(1, rgb(@stop,@stop,@stop)));
  background: -ms-linear-gradient(bottom,
                                  rgb(@start,@start,@start) 0%,
                                  rgb(@start,@start,@start) 100%);
  background: -moz-linear-gradient(center bottom,
                                   rgb(@start,@start,@start) 0%,
                                   rgb(@stop,@stop,@stop) 100%);
}
.bordered(@top-color: #EEE, @right-color: #EEE, @bottom-color: #EEE, @left-color: #EEE) {
  border-top: solid 1px @top-color;
  border-left: solid 1px @left-color;
  border-right: solid 1px @right-color;
  border-bottom: solid 1px @bottom-color;
}
.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}
.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
}
.transition-duration(@duration: 0.2s) {
  -moz-transition-duration: @duration;
  -webkit-transition-duration: @duration;
  transition-duration: @duration;
}
.rotation(@deg:5deg){
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  transform: rotate(@deg);
}
.scale(@ratio:1.5){
  -webkit-transform:scale(@ratio);
  -moz-transform:scale(@ratio);
  transform:scale(@ratio);
}
.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  transition: all @duration @ease;
}
.inner-shadow(@horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4) {
  -webkit-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}
.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}
.translate(@x:0, @y:0) {
  -moz-transform: translate(@x, @y);
  -webkit-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y);
  transform: translate(@x, @y);
}

